<script>
    window.__INITIAL_STATE__ = {{{state}}};
</script>
<div id="{{contentDivId}}">{{{content}}}</div>
<link rel="stylesheet" text="text/css" href="{{staticPath}}/{{bundleCssFilename}}" />
<script type="text/javascript" src="{{staticPath}}/{{bundleJsFilename}}"></script>
